.file{
font-family: 'Arial';
border: 2px solid /*#002184*/ #0099e8;
border-radius: 25px;
color: #363135;
width: 500px;
height: 100px;
background-color: #b3edf0;
box-shadow:  0 0 0 4px /*#003c84*/ #0085e8,
            0 0 0 2px #0099e8,
            0 0 0 8px #0066f2,
            0 0 0 10px #0084dc,
            0 0 0 12px #008cce,
            0 0 0 20px #009cd7,
            0 0 0 21px #109cd7,
            0 0 0 22px #202020,
            0 0 0 23px #404040,
            0 0 0 24px #505050,
            0 0 0 25px #606060,
            0 0 0 26px #707070,
            0 0 0 27px #808080,
            0 0 0 28px #909090,
            0 0 0 29px #a0a0a0,
            0 0 0 30px #b0b0b0,
            0 0 0 31px #c0c0c0,
            0 0 0 32px #d0d0d0,
            0 0 0 33px #e0e0e0,
            0 0 0 34px #f0f0f0,
            0 0 0 35px #f9f9f9;
text-align: center;
font-family: 'Intro'
}
@font-face {
           font-family: 'Intro';
    src: local('Intro'), url('font/intro.woff2') format('woff2'), url('font/intro.woff') format('woff'), url('font/intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.d{
font-family: 'Intro';
}

